# Created by https://www.gitignore.io/api/node,visualstudiocode

### Node ###
# Dependency directories
node_modules

# Optional npm cache directory
.npm

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/node,visualstudiocode


### android ###

ANDROID/**/*.iml
ANDROID/**/.gradle
ANDROID/**/local.properties
ANDROID/**/.idea/workspace.xml
ANDROID/**/.idea/libraries
ANDROID/**/.DS_Store
ANDROID/**/build
ANDROID/**/captures
ANDROID/**/.externalNativeBuild

# User-specific configurations
ANDROID/**/.idea/libraries/
ANDROID/**/.idea/.name
ANDROID/**/.idea/compiler.xml
ANDROID/**/.idea/copyright/profiles_settings.xml
ANDROID/**/.idea/encodings.xml
ANDROID/**/.idea/misc.xml
ANDROID/**/.idea/modules.xml
ANDROID/**/.idea/scopes/scope_settings.xml
ANDROID/**/.idea/vcs.xml
ANDROID/**/.idea/jsLibraryMappings.xml
ANDROID/**/.idea/datasources.xml
ANDROID/**/.idea/dataSources.ids
ANDROID/**/.idea/sqlDataSources.xml
ANDROID/**/.idea/dynamic.xml
ANDROID/**/.idea/uiDesigner.xml




### Diversos ###
.DS_STORE