# Created by https://www.gitignore.io/api/node,visualstudiocode

### Node ###
# Dependency directories
node_modules

# Optional npm cache directory
.npm

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/node,visualstudiocode


### android ###

ANDROID/**/*.iml
ANDROID/**/.gradle
ANDROID/**/local.properties
ANDROID/**/.idea/workspace.xml
ANDROID/**/.idea/libraries
ANDROID/**/.DS_Store
ANDROID/**/build
ANDROID/**/captures
ANDROID/**/.externalNativeBuild



### Diversos ###
.DS_STORE